header.masthead .intro-text .intro-heading {
  font-size: 24px;
  line-height: 1.5em;
}

@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 36px;
  }
}

header.masthead .intro-text .intro-lead-in {
  line-height: 1.5em;
}

section#contact {
  background-image: url("../../assets/img/kontakt-bg2.jpg");
  background-size: 100% 100%;
}

.navbar-brand .rounded-circle.img-fluid {
  width: 2.8em;
}

.codewars-badge {
  background-image: url(https://www.codewars.com/users/ntrix/badges/large);
  height: 50px;
  background-size: 100% 100%;
}

.projekt-quelle {
  text-transform: uppercase!important;
  color: #000;
  font-weight: bold;
  /*text-shadow: 0 0 2px;*/
  font-size: 1.4em;
}

.btn-group > a {
  font-size: 0.75rem;
}

@media (min-width:768px) {
  .modal .btn-group a {
    font-size: 1.1em;
  }
}

