.page-brand {
  text-shadow: 0 0 4px #fff, 1px 1px 6px #000, 2px 2px 8px #000;
}

header {
  background: center / cover url('../img/nt_bg3.jpg') no-repeat;
  height: 32em;
	-webkit-animation: cycle-bg 45s ease-in forwards;
			animation: cycle-bg 45s ease-in forwards;
}
.header-overlay{
  position: absolute;
  height: 32em;
  width: 100%;
  background: #100b00bb;
}

@keyframes cycle-bg {
  30%  {
    background: center / cover url('../img/nt_bg3.jpg') no-repeat;
  }
	50%, 80% {
    background: center / cover url('../img/nt_bg2.jpg') no-repeat;
	}
	100% {
    background: center / cover url('../img/nt_bg1.jpg') no-repeat;
	}
}
#mainNav .navbar-nav .nav-item .nav-link {
    margin-left: 2rem;
}

header.masthead .intro-text .intro-heading {
  font-size: 24px;
  line-height: 1.5em;
}

@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 36px;
  }
  header,.header-overlay {
    height: 52em;
  }
}
@media (min-width: 992px) {
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1em;
    padding: 0;
  }
}
header.masthead .intro-text .intro-lead-in {
	display: flex;
	flex-direction: column;
  line-height: 1.5em;
}

section#contact {
  background-image: url("../../assets/img/kontakt-bg2.jpg");
  background-size: 100% 100%;
}

.navbar-brand .rounded-circle.img-fluid {
  width: 2.8em;
}

.codewars-badge {
  background-image: url(https://www.codewars.com/users/ntrix/badges/large);
  height: 50px;
  background-size: 100% 100%;
}

.projekt-quelle {
  text-transform: uppercase!important;
  color: #000;
  font-weight: bold;
  /*text-shadow: 0 0 2px;*/
  font-size: 1.4em;
}

.btn-group > a {
  font-size: 0.75rem;
}

@media (min-width:768px) {
  .modal .btn-group a {
    font-size: 1.1em;
  }
}

.team-member a:hover {
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  opacity: 70%;
  text-decoration: none;
}

.portfolio-thumbnail {
  position: relative;
  width: 100%;
}

.portfolio-thumbnail .img-fluid {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000b;
  overflow: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  transition: .3s ease;
}

.portfolio-thumbnail:hover .overlay {
  height: 3em;
}

.carousel-inner {
  height: 480px;
}

.portfolio-modal .modal-content {
  padding: 30px 0;
}

.team-member {
  display: flex;
  flex-direction: column;
}

.fa.fa-external-link {
  font-size: 1.5em;
  line-height: 3rem;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* ---- reset ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#mainNav {
  padding: 0 !important;
  opacity: 0.95;
}
