header.masthead .intro-text .intro-heading {
  font-size: 32px;
  line-height: 32px;
}

@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width:768px) {
  header.masthead .intro-text .intro-lead-in {
    line-height: 56px;
  }
}

section#contact {
  background-image: url("../../assets/img/kontakt-bg2.jpg");
  background-size: 100% 100%;
}

