#mainNav {
  padding: 0;
}

.page-brand {
  text-shadow: 0 0 4px #fff, 1px 1px 6px #000, 2px 2px 8px #000;
}

header {
  background: center / cover url('../img/nt_bg3.jpg') no-repeat;
  height: 32em;
	-webkit-animation: cycle-bg 30s ease-in forwards;
			animation: cycle-bg 30s ease-in forwards;
}
.header-overlay{
  position: absolute;
  height: 32em;
  width: 100%;
  background: #100b00bb;
}
#mainNav .navbar-nav .nav-item .nav-link {
    margin-left: 1rem;
    text-align: center;
}

@media (min-width:768px) {
  header,.header-overlay {
    height: 52em;
  }
}
@media (min-width: 992px) {
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1em;
    padding: 0;
  }
}
.btn {
  margin: 0 0.5em;
}

.btn-draw {
  border: 0;
  background: none;
  text-transform: uppercase;
  color: #fed136;
  font-weight: bold;
  position: relative;
  outline: none;
  padding: 0 2rem;
}
.btn-draw::before, .btn-draw::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  width: 0;
  height: 0;
}
.btn-draw::before {
  top: 1px;
  left: 0;
}
.btn-draw::after {
  bottom: 0;
  right: 0;
}
.btn-draw:hover::before, .btn-draw:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(0.8,1);
}
.btn-draw:hover::before {
  border-top-color: #fed136;
  transition: width 0.2s ease-out;
}
.btn-draw:hover::after {
  border-bottom-color: #fed136;
  transition: width 0.2s ease-out 0.2s;
}

section#contact {
  background-image: url("../../assets/img/kontakt-bg2.jpg");
  background-size: 100% 100%;
}

.navbar-brand .rounded-circle.img-fluid {
  width: 2.8em;
}

.timeline-image {
  top: 0;
}

.info-more {
  position: relative;
  margin-top: auto;
  background-size: 100% 100%;
  transition: .3s ease-out;
}

.projekt-quelle {
  text-transform: uppercase!important;
  color: #000;
  font-weight: bold;
  /*text-shadow: 0 0 2px;*/
  font-size: 1.4em;
}

.btn-group > a {
  font-size: 0.75rem;
}

@media (min-width:768px) {
  .modal .btn-group a {
    font-size: 1.1em;
  }
}

a:hover {
  text-decoration: none;
}

.portfolio-thumbnail {
  position: relative;
  width: 100%;
}

.portfolio-thumbnail .img-fluid {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: .25rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  border-radius: 0 0 .25rem .25rem;
  background-color: #000b;
  transition: .4s ease-out .4s;
}

.portfolio-hover:hover .overlay {
  height: 3em;
}

.carousel-inner {
  height: 480px;
}

.portfolio-modal .modal-content {
  padding: 30px 0;
}

.overlay .fa {
  font-size: 2em;
  line-height: 3rem;
}

@media (min-width:768px) {
  .translate-15 {
    margin-top: 3rem;
  }
  .translate-30 {
    margin-top: 6rem;
  }
}

.portfolio-caption.cert {
  text-align: center;
}

.img-hidden {
  transform: scale(0.3);
  transition: .3s ease;
  opacity: 0.7;
}

.list-group-item:hover .img-hidden {
  opacity: 1;
  transform: scale(1);
  transition: .5s ease;
}

.info-more .info {
  position: absolute;
  left: 0;
  border: none;
  object-fit: contain;
  min-width: 100%;
  transform: scaleY(0);
  transition: .5s ease-out;
}

.team-member:hover .rounded-circle {
  transform: rotateY(360deg);
  transition: .5s ease-in;
}

.portfolio-item .cert {
  overflow: hidden;
}

.portfolio-item .cert img {
  transition: .3s ease-in;
}

.portfolio-item .cert:hover img {
  transform: scale(1.5);
  transition: .5s ease-out;
}

.team-member .info-badge {
  border: none;
  height: 100%;
  object-fit: contain;
}

.team-member:hover .info-more .info {
  transform: scale(1.2);
  transition: .5s ease-out;
}

#work .col-md-4,
#projects .portfolio-item .portfolio-caption {
  transition: .5s ease-out;
}

#work .col-md-4:hover {
  transform: scale(1.05);
  transition: .5s ease-out;
}

#work .col-md-4:hover .fa-stack,
.list-group-item:hover .schools {
  transform: rotateY(360deg);
  transition: .5s ease-in;
}

.portfolio-item .fa-folder {
  transition: margin .3s ease-in 0.3s, transform 0.3s ease-out;
}

.portfolio-item:hover .fa-folder {
  transform: translate3d(0,100%,0);
  margin-left: 40%;
  transition: margin .3s ease-out, transform 0.3s ease-in 0.3s;
}

#projects .portfolio-item:hover .portfolio-caption {
  transform: scale(1.05);
  transition: .5s ease-out;
}
