.text-effect--container {
	font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}
@media (max-width: 768px) {
	.text-effect--container {
		font-size: 0.6em;
		/* height: 44em; */
	}
}
a, a:hover {
	text-decoration: none;
}
a:hover {
	transition: all 0.3s ease-in;
	transform: scale(1.1) !important;
}
.sp-content {
	position: relative;
	height: 100%;
    top: 4em;
}

.sp-container h2 {
	position: absolute;
	width: 100%;
	line-height: 2.5em;
	font-size: 6em;
	color: transparent;
}

.sp-container h2 * {
	opacity: 0;
	margin-bottom: 0.5em;
}

.frame-1 {
	-webkit-animation: cycle1 15s ease-in backwards infinite;
			animation: cycle1 15s ease-in backwards infinite;
}

@-webkit-keyframes cycle1 {
	0%, 30% {
	opacity: 0;
	text-shadow: 0 0 0 #fff0;
	}
	0% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fff;
			transform: scale(1.3);
	}
	3%, 10% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
			transform: scale(1);
	}
	17% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
			transform: scale(0);
	}
}

@keyframes cycle1 {
	0%, 30% {
	opacity: 0;
	text-shadow: 0 0 0 #fff0;
	}
	0% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fff;
			transform: scale(1.3);
	}
	3%, 10% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
			transform: scale(1);
	}
	17% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
			transform: scale(0);
	}
}
.frame-2 {
	-webkit-animation: cycle2 15s ease-in backwards infinite;
			animation: cycle2 15s ease-in backwards infinite;
}

@-webkit-keyframes cycle2 {
	0%, 15%, 45% {
	opacity: 0;
	text-shadow: 0 0 0 #fff0;
	}
	15% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	18%, 25% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	32% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(0);
			transform: scale(0);
	}
}

@keyframes cycle2 {
	0%, 15%, 45% {
	opacity: 0;
	text-shadow: 0 0 0 #fff0;
	}
	15% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	18%, 25% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	32% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(0);
			transform: scale(0);
	}
}
.frame-3 {
	-webkit-animation: cycle3 15s ease-in backwards infinite;
			animation: cycle3 15s ease-in backwards infinite;
}

@-webkit-keyframes cycle3 {
	0%, 30%, 60% {
	opacity: 0;
	text-shadow: 0 0 0 #fed13600;
	}
	30% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fed136;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	33%, 40% {
	opacity: 1;
	text-shadow: 0 0 1px #fed136;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	47% {
	opacity: 0;
	text-shadow: 0 0 3rem #fed136;
	-webkit-transform: scale(0);
			transform: scale(0);
	}
}

@keyframes cycle3 {
	0%, 30%, 60% {
	opacity: 0;
	text-shadow: 0 0 0 #fed13600;
	}
	30% {
	opacity: 0;
	text-shadow: 0 0 2.5rem #fed136;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	33%, 40% {
	opacity: 1;
	text-shadow: 0 0 1px #fed136;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	47% {
	opacity: 0;
	text-shadow: 0 0 3rem #fed136;
	-webkit-transform: scale(0);
			transform: scale(0);
	}
}
.frame-4 {
	color: transparent;
	-webkit-animation: cycle4 15s ease backwards infinite;
			animation: cycle4 15s ease backwards infinite;
}
@-webkit-keyframes cycle4 {
	0%, 100% {
	font-size: 0;
	text-shadow: 0 0 0.5em #fff;
	}
	50%, 85% {
	opacity: 1;
	font-size: 3em;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
	}
	98% {
	opacity: 0;
	text-shadow: 0 0 3em #fff;
	-webkit-transform: scale(0);
	}
}

@keyframes cycle4 {
	0%, 100% {
	font-size: 0;
	text-shadow: 0 0 0.5em #fff;
	}
	50%, 85% {
	opacity: 1;
	top: 1em;
	font-size: 3em;
	text-shadow: 0 0 1px #fff;
	transform: scale(1);
	}
	95% {
	top: 2.5em;
	}
	98% {
	opacity: 0;
	text-shadow: 0 0 3em #fff;
	transform: scale(0);
	}
}

.frame-51 {
	-webkit-animation: cycle51 15s ease-in backwards infinite;
			animation: cycle51 15s ease-in backwards infinite;
	font-size: 1.1em;
}

@-webkit-keyframes cycle51 {
	46% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	51% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	56%, 76% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	98%, 45% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff0;
	}
}

@keyframes cycle51 {
	46% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	51% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	56%, 76% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	98%, 45% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff0;
	}
}
.frame-52 {
	-webkit-animation: cycle52 15s ease-in backwards infinite;
			animation: cycle52 15s ease-in backwards infinite;
	font-size: 1.2em;
}

@-webkit-keyframes cycle52 {
	52% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	57% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	62%, 82% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	98%, 45% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff0;
	}
}

@keyframes cycle52 {
	52% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	57% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	62%, 82% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	98%, 45% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff0;
	}
}
.frame-53 {
	-webkit-animation: cycle53 15s ease-in backwards infinite;
			animation: cycle53 15s ease-in backwards infinite;
	font-size: 1.3em;
	color: #fed136;
}

@-webkit-keyframes cycle53 {
	58% {
	opacity: 0;
	text-shadow: 0 0 3rem #fed136;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	63% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fed136;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	68%, 88% {
	opacity: 1;
	text-shadow: 0 0 1px #fed136;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	98%, 45% {
	opacity: 0;
	text-shadow: 0 0 3rem #fed13600;
	}
}

@keyframes cycle53 {
	58% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff;
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	}
	63% {
	opacity: 0.8;
	text-shadow: 0 0 0.5rem #fff;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
	}
	68%, 88% {
	opacity: 1;
	text-shadow: 0 0 1px #fff;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
	98%, 45% {
	opacity: 0;
	text-shadow: 0 0 3rem #fff0;
	}
}
.button a {
	position: absolute;
    top: 38em;
    padding-top: 5em;
    margin-left: 6em;
}
.button {
	font-family: monospace, sans-serif;
}

.button a:hover i {
	-webkit-transform: translateY(0.5em);
			transform: translateY(0.5em);
}

.button a:hover p {
	-webkit-transform: scale(1.5);
			transform: scale(1.5);
	-webkit-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}

.button a i {
	position: absolute;
	height: 4em;
	width: 4em;
	margin: 3em -1em;
	top: -6em;
	border-radius: 50%;
	border: thin solid #fff;
	background: #000;
	box-sizing: border-box;
}

.button a i::before {
	content: '';
	opacity: 0;
	position: absolute;
	height: 4em;
	width: 4em;
	top: 0;
	left: 0;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #fff5;
	-webkit-animation: sdb03 3s infinite;
	box-sizing: border-box;
	-webkit-animation: cycle-wave 3s infinite;
			animation: cycle-wave 3s infinite;
}

@-webkit-keyframes cycle-wave {
	30% {
	opacity: 1;
	}
	60%, 100% {
	box-shadow: 0 0 0 4rem #fff0;
	}
}

@keyframes cycle-wave {
	30% {
	opacity: 1;
	}
	60%, 100% {
	box-shadow: 0 0 0 4rem #fff0;
	}
}
.button a i::after {
	content: '';
	position: absolute;
	height: 1em;
	width: 1em;
	top: 50%;
	left: 50%;
	margin: -0.75em 0 0 -0.5em;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
	-webkit-animation: cycle-button 15s ease-in backwards infinite;
			animation: cycle-button 15s ease-in backwards infinite;
}

@-webkit-keyframes cycle-button {
	0%, 50%, 84%, 88%, 93%, 97% {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
	}
	80%, 91% {
	-webkit-transform: rotate(1755deg);
			transform: rotate(1755deg);
	}
	86%, 95%, 99% {
	-webkit-transform: scale(2) rotate(-45deg);
			transform: scale(2) rotate(-45deg);
	}
}

@keyframes cycle-button {
	0%, 30%, 74%, 81%, 88%, 95% {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
	}
	60%, 85% {
	-webkit-transform: rotate(1755deg);
			transform: rotate(1755deg);
	}
	77%, 91%, 97% {
	-webkit-transform: scale(2) rotate(-45deg) translate(-1em, 1em);
			transform: scale(2) rotate(-45deg) translate(-1em, 1em);
	}
}