.animation-box-l{
    opacity:0.1;
    transform: translateX(-200vw);
    transition: all 0.4s ease;
    overflow: hidden;
}
.animation-box-r{
    opacity:0.1;
    transform: translateX(100%) scaleX(0);
    transition: all 0.7s ease;
    overflow: hidden;
}
.visible-r, .visible-l {
    opacity:1;
    transform: translateX(0);
}

.animation-col {
    opacity:0;
    transform: scaleY(1.5);
    transition: all 1s ease;
}
.visible-col {
    opacity: 1;
    transform: scaleY(1);
}

.animation-row {
    opacity:0;
    transform: scaleX(0.1);
    transition: all 1s ease;
}
.visible-row {
    opacity:1;
    transform: scaleX(1);
}