.animation-box-l{
    opacity:0.1;
    transform: translateX(-1500px);
    transition: all 0.5s ease;
}
.animation-box-r{
    opacity:0.1;
    transform: translateX(1500px);
    transition: all 0.5s ease;
}
.visible-r, .visible-l {
    opacity:1;
    transform: translateX(0);
}

.animation-col {
    opacity:0;
    transform: scaleY(1.5);
    transition: all 1.2s ease;
}
.visible-col {
    opacity: 1;
    transform: scaleY(1);
}

.animation-row {
    opacity:0;
    transform: scaleX(3);
    transition: all 1s ease;
}
.visible-row {
    opacity:1;
    transform: scaleX(1);
}