.animation-box {
    opacity:0.1;
}
.animation-middle {
    transform: scaleX(0.01);
}
.animation-box:nth-child(odd){
    transform: translateX(300px);
}
.animation-box:nth-child(even){
    transform: translateX(-300px);
}

.visible, .visible-middle {
    transition: all 0.35s ease;
    opacity:1;
}
.visible-middle {
    transform: scaleX(1);
}
/*.visible::after{
    content: " Box - AAaaaahhhhhh, I'm visible!";
}*/

.visible:nth-child(odd){
    transform: translateX(0);
}
.visible:nth-child(even){
    transform: translateX(0);
}